{% extends "general.html" %}
{% block content %}
<main class="container signup-section">
  <div class="section-content">
    <h2>Register To AndelaLevelUp</h2>
<form method="POST" action="/register">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.firstname.label }}
    {% if form.firstname.errors %}
      {% for error in form.firstname.errros %}
          <p class="error-message"> {{error}} </p>
      {% endfor %}
    {% endif %}
    {{ form.firstname }}
  </div>

  <div class="form-group">
    {{ form.lastname.label }}
    {% if form.lastname.errors %}
      {% for error in form.lastname.errros %}
          <p class="error-message"> {{error}} </p>
      {% endfor %}
    {% endif %}
    {{ form.lastname }}
  </div>
  <div class="form-group">
    {{ form.phonenumber.label }}
    {% if form.phonenumber.errors %}
      {% for error in form.phonenumber.errros %}
          <p class="error-message"> {{error}} </p>
      {% endfor %}
    {% endif %}
    {{ form.phonenumber }}
  </div>
  <div class="form-group">
    {{ form.email.label }}
    {% if form.email.errors %}
      {% for error in form.email.errros %}
          <p class="error-message"> {{error}} </p>
      {% endfor %}
    {% endif %}
    {{ form.email }}
  </div>
  <div class="form-group">
    {{ form.password.label }}
      {% if form.password.errors %}
        {% for error in form.password.errros %}
          <p class="error-message"> {{error}} </p>
        {% endfor %}
    {% endif %}
    {{ form.password }}
  </div>

  {{ form.registerbtn(class="btn-primary btn-ln") }}
</form>
<br />

<form method="GET" action="/login">
  Have an account? {{ form.loginbtn() }}
</form>

</div>
</main>
{% endblock %}
